.headerpar {
  position: relative;
}

.searchabs {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -25px;
}

.homeContainer {

}

.homeTitle{
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
